<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <img src="../../../assets/logo.png" style="margin:0px 10px; margin-top: 5px;" width="140px" height="60px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['DOCTOR']">
        <a class="nav-link" [routerLink]="['/examination']">Start examination<span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['DOCTOR']">
        <a class="nav-link" [routerLink]="['/reports']">Reports<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          New
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  [routerLink]="['/new-disease']" >Disease</a>
          <a class="dropdown-item" [routerLink]="['/new-medicine']">Medicine</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/new-patient']">Patient</a>
          <a class="dropdown-item" [routerLink]="['/new-user']">Doctor</a>
        </div>
      </li>
      <li class="nav-item dropdown"  *ngxPermissionsOnly="['ADMIN']">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Edit
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" >Disease</a>
          <a class="dropdown-item" >Medicine</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Patient</a>
          <a class="dropdown-item">Doctor</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isLoggedUser">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!isLoggedUser">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" routerLink="/account">Login</a>
      </li>
    </ul>
  </div>
</nav>
