<app-navbar></app-navbar>
<form class="rec" id="forma">
  <h3 id="reg_title" class="jumbotron"><i style="color: dimgrey">New disease</i></h3>


  <div align="center">
    <input type="text" class="form-control form-inline" name="name" id="name" [(ngModel)]="illness.name" required
           style="width: 50%" placeholder="Name"/>
  </div>

  <div style="margin-left: 2%; margin-top: 5%" class="form-inline">
    <label>Choose symptoms: </label>
    <input id="chooseSymptom" type="text" class="form-control " name="symptom"
           (click)="click$.next($event.target.value)"
           [(ngModel)]="selectedSymptom" #instance="ngbTypeahead" [ngbTypeahead]="searchSymptoms"/>
    <label style="margin-left: 2%">  specific: </label>
    <input style="margin-left: 2%"type="checkbox" name="specific" [(ngModel)]="specific">
    <input id="clickAdd" type="button" class="btn btn-sq-xs btn-info " style="margin-left: 2%"
           [disabled]="selectedSymptom === ''" (click)="addSymptom()"
           value="+">
  </div>
  <div style="margin-left:2%; margin-top: 5%; display: inline-block" class="form-group" *ngFor="let symptom of addedSymptoms">
    <label id="addedSymptom">{{symptom}}</label>
    <button id="deleteSymptom" (click)="deleteSymptom(symptom)">x</button>
  </div>


  <div style="margin-top: 5%">

    <button  class="btn btn-success" (click)="addIllness(); "
             style="float: right;margin:3% 5% 10% 0">Add new disease <i
      class="fa fa-check"></i></button>
  </div>
</form>
