
.rec {
  /*border-radius: 20px;*/
  width: 70%;
  background: rgba(132, 188, 237, 0.35);
  margin-left: 15%;
  margin-top: 3%;
  padding-bottom: 8%;
  height: 75%;
  /*border-radius: 20px;*/

  /*padding: 30% 3% 10% 5%;*/
}
