
label {
  margin-top: 5px;
  font-weight: bold;
}

input, select {
  margin-left: 6%;
}

#reg_title {
  /*height: 80%;*/
  /*margin-left: -16.2%;*/
  /*margin-right: -5.9%;*/
  text-align: center;
}

.form-container {
  padding: 0px 10px 130px 120px;
}
.main-container {
  width: 70%;
  background: rgba(132, 188, 237, 0.35);
  margin-left: 15%;
  margin-top: 10px;
  margin-bottom:50px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
