.rec {
  width: 70%;
  background: rgba(132, 188, 237, 0.9);
  margin-left: 15%;
  margin-top: 3%;
}


.no-hand {
  cursor: not-allowed;
}

.panel {
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 15%;
}
